@charset "utf-8";

:root {
    /* color */
    --color-point1: #1d2015;
    --color-point2: #00d94f;
    --color-bg: #fafbfb;
    --color-sub-bg: #d9d9d9;

    /* text size */
    --fs-main-title: 36px;
    --fs-sub-title: 28px;
    --fs-desc: 20px;
    --fs-body: 16px;

    /* line-height */
    --line-height-default: 1.5;

    /* font-weight */
    --fw-bold: 700;
    --fw-medium: 500;
    --fw-regular: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}